.header {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.elder {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
